[submodule "3rdparty/nvpro_core"]
	path = 3rdparty/nvpro_core
	url = https://github.com/nvpro-samples/nvpro_core.git
[submodule "3rdparty/heightmap_rtx"]
	path = 3rdparty/heightmap_rtx
	url = git@github.com:NVIDIAGameWorks/heightmap_rtx.git
[submodule "3rdparty/Streamline"]
	path = 3rdparty/Streamline
	url = git@github.com:NVIDIAGameWorks/Streamline.git
[submodule "3rdparty/tinygltf"]
	path = 3rdparty/tinygltf
	url = git@github.com:syoyo/tinygltf.git
